<div class="footer ">

    <div class="need wow text-down" style="animation-delay: 0.4s;">
        <p class="line-word">
            <i data-text="f1"><%= f1 %></i><span data-text="f2"><%= f2 %></span><i data-text="f3"><%= f3%></i>
        </p>
        <div class="l">
            <div class="t1">
                <i data-text="f4"><%= f4 %> </i><br>
                <span data-text="f5"><%= f5 %></span>
            </div>
            <div class="btns">
                <a class="btn-click magnetic" href="mailto:<%= user.email %>" data-strength="25"
                    data-strength-text="15">
                    <div class="btn-fill"></div>
                    <span class="btn-text">
                        <span class="btn-text-inner change"><%= user.email %></span>
                    </span>
                </a>
                <a target="_blank" class="btn-click magnetic" data-strength="25" data-strength-text="15">
                    <div class="btn-fill"></div>
                    <span class="btn-text" style="padding: 0;">
                        <span class="btn-text-inner change"><%= user.phone %></span>
                    </span>
                </a>
            </div>
        </div>
        <div class="r">
            <div class="btn btn-round circle">
                <a class="btn-click magnetic " data-strength="100" data-strength-text="50"
                    href="/<%= user.username %>/contact">
                    <div class="btn-fill"></div>
                    <span class="btn-text">
                        <span class="btn-text-inner change3">
                            <div class="st">

                                <p class="let-us">Let us contact you</p>
                            </div>
                            <div class="st">让我们联系您</div>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>


    <!--    滚动条效果-->

</div>
<footer class=" wow text-down" style="animation-delay: 0.4s;">
    <div class="footer-line">
        <!-- <img src="/uploads/foot-line.svg" alt=""> -->
        <div class="main-bg-box">
            <div class="home-lottie-icon" data-lottie="line"></div>
        </div>
    </div>
    <div class="container">
        <div class="footer-top">
            <a href="/" aria-current="page" class="footer-logo">
                <svg width="197" height="32" viewBox="0 0 197 32">
                    <use xlink:href="#logoIcon"></use>
                </svg>
            </a>
            <p class="footer-desc" data-text="f8"><%= f8 %></p>

            <div class="footer-nav">
                <a href="/<%= user.username %>" class="btn-click magnetic p-button top_nav-link" data-strength="20">
                    <span class="btn-text">
                        <span class="btn-text-inner">Home 首页</span>
                    </span>
                </a>
                <a href="/<%= user.username %>/cases" class="btn-click magnetic p-button" data-strength="20">
                    <span class="btn-text">
                        <span class="btn-text-inner">Case 案例</span>
                    </span>
                </a>
                <a href="/<%= user.username %>/service" class="btn-click magnetic p-button " data-strength="20">
                    <span class="btn-text">
                        <span class="btn-text-inner">Service 服务</span>
                    </span>
                </a>
                <a href="/<%= user.username %>/contact" class="btn-click magnetic p-button " data-strength="20">
                    <span class="btn-text">
                        <span class="btn-text-inner">Contact 联系</span>
                    </span>
                </a>
                <a href="/<%= user.username %>/about" class="btn-click magnetic p-button " data-strength="20">
                    <span class="btn-text">
                        <span class="btn-text-inner">About 关于</span>
                    </span>
                </a>
            </div>
            <div class="footer-contact">
                <p class="footer-p" data-text="f9"><%= f9 %></p>
                <p class="footer-tel"><%= user.phone %></p>
                <img src="<%= user.qrcodeImg %>" alt="<%= user.username %>">


            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bot-left">
                <i data-text="f11"><%= f11 %></i> <span class="current-year"></span> <i data-text="f10"><%= f10 %></i>
            </div>

            <div class="footer-bot-right">
                <p>
                    <img src="/uploads/footer-policy.png" alt="policy">
                    <span data-text="f12"><%= f12 %></span></p>
                <p>
                    <img src="/uploads/footer-icp.png" alt="icp">
                    <span data-text="f13"><%= f13 %></span></p>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/gsap.min.js" defer></script>
<script src="/js/ScrollTrigger.min.js" defer></script>
<script src="/js/lenis.min.js"></script>
<script src="/js/lottie_svg.min.js" defer></script>
<script src="/js/global.js" defer></script>
<!-- <script src="/js/swiper-bundle.min.js"></script> -->
<script src="/js/magnet.js" defer></script>
<script src="/js/wow.min.js"></script>


<script>
    // Get Current Year to Footer

    function getCurrentYear() {
        var d = new Date();
        var n = d.getFullYear();
        document.querySelector('.current-year').innerHTML = n;
    }

    getCurrentYear();
</script>