<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('components/meta', { head: meta.about }); %>
  <link rel="stylesheet" href="/css/about.css" />
</head>

<body page="home">
  <%- include('components/header'); -%>
  <main>
    <div class="present">
      <div class="present-top">
        <div class="present_background"></div>
        <p class="present_principal  wow text-down" data-text="b1" style="animation-delay: 2.4s;">
          <%= b1 %>
        </p>
        <div class="present_img wow text-down" style="animation-delay: 2.6s;">
          <img data-text="b2" src="<%= b2 %>" alt="" />
          <div class="img_grayscale"></div>
        </div>

      </div>

      <div class="detailed_introduction wow text-down">
        <div class="detailed_introduction_quotation_mark">
          “
        </div>
        <span data-text="b3"><%= b3 %></span>
        </p>
      </div>
      <div class="companion">
        <div class="companion_title" data-text="b4"><%= b4 %></div>
        <div class="companion_list">
          <img class="companion_item wow text-down" data-text="b5" src="<%= b5 %>" alt="">
          <img class="companion_item wow text-down" data-text="b6" src="<%= b6 %>" alt="">
          <img class="companion_item wow text-down" data-text="b7" src="<%= b7 %>" alt="">
          <img class="companion_item wow text-down" data-text="b8" src="<%= b8 %>" alt="">
          <img class="companion_item wow text-down" data-text="b9" src="<%= b9 %>" alt="">
          <img class="companion_item wow text-down" data-text="b10" src="<%= b10 %>" alt="">
          <img class="companion_item wow text-down" data-text="b11" src="<%= b11 %>" alt="">
          <img class="companion_item wow text-down" data-text="b12" src="<%= b12 %>" alt="">
          <img class="companion_item wow text-down" data-text="b13" src="<%= b13 %>" alt="">
          <img class="companion_item wow text-down" data-text="b14" src="<%= b14 %>" alt="">
          <img class="companion_item wow text-down" data-text="b15" src="<%= b15 %>" alt="">
          <img class="companion_item wow text-down" data-text="b16" src="<%= b16 %>" alt="">
          <img class="companion_item wow text-down" data-text="b17" src="<%= b17 %>" alt="">
          <img class="companion_item wow text-down" data-text="b18" src="<%= b18 %>" alt="">
        </div>
        <div class="companion_line"></div>
      </div>
  </main>

  <%- include('components/footer'); -%>
</body>

</html>