<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('components/meta', { head: meta.contact }); %>
  <link rel="stylesheet" href="/css/contact.css" />
  <link rel="stylesheet" href="/css/contact.media.css" />
</head>

<body>
  <%- include('components/header'); -%>
  <main>
    <div class="liaison_head">
      <div class="liaison_head_left wow text-down" style="animation-delay: 2.4s;">
        <div class="liaison_head_left_p1" data-text="o1">联系我们</div>
        <p class="liaison_head_left_p2" data-text="o2">您可以直接留言我们需求或者电话/微信联系我们</p>
      </div>
      <div class="liaison_head_right wow text-down" style="animation-delay: 2.6s;">
        <p class="liaison_head_right_p1" data-text="o3">商务合作</p>
        <p class="liaison_head_right_p2"><%= user.phone %></p>
        <div class="liaison_head_right_two_dimensional_barcode">
          <img src="<%= user.qrcodeImg %>" alt="<%= user.username %>">
        </div>
      </div>

    </div>
    <div class="button_group wow text-down" style="animation-delay: 2.1s;">
      <div class="button_group_title">
        服务需求
      </div>
      <div class="button_list">
        <div class="checkbox">
          <input type="checkbox" name="needs" value="品牌生态视觉策略">
          &nbsp;&nbsp;<span>品牌生态视觉策略</span>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="needs" value="网站设计开发">
          &nbsp;&nbsp;<span>网站设计开发</span>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="needs" value="网站设计开发">
          &nbsp;&nbsp;<span>品牌视觉识别</span>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="needs" value="软件系统开发">
          &nbsp;&nbsp;<span>软件系统开发</span>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="needs" value="Global全球数字化营销">
          &nbsp;&nbsp;Global全球数字化营销
        </div>
      </div>

    </div>
    <div class="button_group wow text-down" style="animation-delay: 2.1s;">
      <div class="button_group_title">
        项目群体
      </div>
      <div class="button_list">
        <div class="checkbox">
          <input type="checkbox" name="object">
          &nbsp;&nbsp;ToB
        </div>
        <div class="checkbox">
          <input type="checkbox" name="object">
          &nbsp;&nbsp;ToC
        </div>
        <div class="checkbox">
          <input type="checkbox" name="object">
          &nbsp;&nbsp;国内
        </div>
        <div class="checkbox">
          <input type="checkbox" name="object">
          &nbsp;&nbsp;国外
        </div>
        <div class="checkbox">
          <input type="checkbox" name="object">
          &nbsp;&nbsp;全部
        </div>
      </div>

    </div>
    <div class="button_group wow text-down" style="animation-delay: 2.1s;">
      <div class="button_group_title">
        项目方向
      </div>
      <div class="button_list">
        <div class="checkbox">
          <input type="checkbox" name="direaction">
          &nbsp;&nbsp;外贸
        </div>
        <div class="checkbox">
          <input type="checkbox" name="direaction">
          &nbsp;&nbsp;营销
        </div>
        <div class="checkbox">
          <input type="checkbox" name="direaction">
          &nbsp;&nbsp;产品展示为主
        </div>
        <div class="checkbox">
          <input type="checkbox" name="direaction">
          &nbsp;&nbsp;品牌展示为主
        </div>
        <div class="checkbox">
          <input type="checkbox" name="direaction">
          &nbsp;&nbsp;工厂/研发实力
        </div>
        <div class="checkbox">
          <input type="checkbox" name="direaction">
          &nbsp;&nbsp;集团
        </div>
        <div class="checkbox">
          <input type="checkbox" name="direaction">
          &nbsp;&nbsp;其他
        </div>
      </div>

    </div>
    <div class="button_group wow text-down">
      <div class="button_group_title">
        初步需求：项目的基本需求，栏目、内容规划、功能、风格等有了吗？
      </div>
      <div class="button_list">
        <div class="checkbox">
          <input type="checkbox" name="friststep">
          &nbsp;&nbsp;有，但需要完善
        </div>
        <div class="checkbox">
          <input type="checkbox" name="friststep">
          &nbsp;&nbsp;有，十分完善
        </div>
        <div class="checkbox">
          <input type="checkbox" name="friststep">
          &nbsp;&nbsp;没有，但已经在整理中
        </div>
        <div class="checkbox">
          <input type="checkbox" name="friststep">
          &nbsp;&nbsp;没有，需要极简慕枫规划
        </div>
      </div>

    </div>
    <div class="button_group wow text-down">
      <div class="button_group_title">
        需求产生原因
      </div>
      <div class="button_list">
        <div class="checkbox">
          <input type="checkbox" name="reason">
          &nbsp;&nbsp;品牌升级，需要迭代
        </div>
        <div class="checkbox">
          <input type="checkbox" name="reason">
          &nbsp;&nbsp;视觉不好看
        </div>
        <div class="checkbox">
          <input type="checkbox" name="reason">
          &nbsp;&nbsp;功能不齐全
        </div>
        <div class="checkbox">
          <input type="checkbox" name="reason">
          &nbsp;&nbsp;需求增加
        </div>
      </div>

    </div>
    <div class="button_group wow text-down">
      <div class="button_group_title">
        时间规划：计划项目完成时间
      </div>
      <div class="button_list">
        <div class="checkbox">
          <input type="checkbox" name="deadline">
          &nbsp;&nbsp;1个月内
        </div>
        <div class="checkbox">
          <input type="checkbox" name="deadline">
          &nbsp;&nbsp;1-2个月
        </div>
        <div class="checkbox">
          <input type="checkbox" name="deadline">
          &nbsp;&nbsp;3-6个月
        </div>
      </div>

    </div>
    <div class="button_group wow text-down">
      <div class="button_group_title">
        项目预算：
      </div>
      <div class="button_list">
        <div class="checkbox">
          <input type="checkbox" name="budget">
          &nbsp;&nbsp;1w以内
        </div>
        <div class="checkbox">
          <input type="checkbox" name="budget">
          &nbsp;&nbsp;1w-5w
        </div>
        <div class="checkbox">
          <input type="checkbox" name="budget">
          &nbsp;&nbsp;5w-8w
        </div>
        <div class="checkbox">
          <input type="checkbox" name="budget">
          &nbsp;&nbsp;8w以上
        </div>
      </div>

    </div>
    <div>
      <div class="button_group_title ">
        客户资料:
      </div>
      <div class="customer_information">
        <div class="input-item wow text-down">
          <input placeholder="公司全称" type="text" name="company_name" required>
          <span class="error">请输入公司全称</span>
        </div>
        <div class="input-item wow text-down">
          <input placeholder="联系人" type="text" name="contact" required>
          <span class="error">请输入联系人</span>
        </div>
        <div class="input-item wow text-down">
          <input placeholder="联系方式" type="text" name="iphone" required>
          <span class="error">请输入联系方式</span>
        </div>
        <div class="input-item wow text-down">
          <input placeholder="联系邮箱" type="text" name="email">
        </div>
        <div class="input-item wow text-down">
          <input placeholder="官网" type="text" name="url">
        </div>

        <div class="input-item wow text-down">
          <input placeholder="留言" type="text" name="message">
        </div>
        <button type="submit wow text-down" class="submit last_button btn-click magnetic" data-strength="25"
          data-strength-text="15">
          <div class="btn-fill"></div>
          <span class="btn-text">
            <span class="btn-text-inner">提交</span>
          </span>
        </button>
      </div>
    </div>
  </main>


  <%- include('components/footer'); -%>
</body>
<script src="js/contact.js" defer></script>


</html>