<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <%- include('components/meta', { head: meta.home }); %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/index.css' />
</head>

<body page="home">
  <%- include('components/header'); -%>
  <main>
    <div class="banner">
      <div class="container">
        <div class="banner-text wow text-down" style="animation-delay: 2.4s;">
          <svg width="87" height="8" viewBox="0 0 87 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.2852 0H0V7.20184H35.2852V0Z" fill="white" />
            <path d="M58.4991 0H44.9482V7.20184H58.4991V0Z" fill="url(#paint0_linear_3760_18423)" />
            <path d="M73.4445 0H63.8281V7.20184H73.4445V0Z" fill="white" />
            <path d="M86.9996 0H82.1914V7.20184H86.9996V0Z" fill="white" />
            <defs>
              <linearGradient id="paint0_linear_3760_18423" x1="44.9484" y1="3.60034" x2="58.499" y2="3.60034"
                gradientUnits="userSpaceOnUse">
                <stop offset="1.3e-07" stop-color="#FFA12E" />
                <stop offset="0.54" stop-color="#CA2E2A" />
                <stop offset="1" stop-color="#CF217B" />
              </linearGradient>
            </defs>
          </svg>

          <p data-text="k1"><%= k1 %></p>

          <p class="text-en" data-text="k2"><%= k2 %>
          </p>
          <h1 data-text="k3"><%= k3 %></h1>
          <a href="/contact" class="btn-click project-consult magnetic" data-strength="25" data-strength-text="15">
            <div class="btn-fill"></div>
            <span class="btn-text">
              <span class="btn-text-inner change3">项目咨询</span>
            </span>
          </a>
        </div>
        <div class="banner-img">
          <!-- <img src="/uploads/index_banner.png" alt="index_banner"> -->
          <div class="main-bg-box">
            <div class="home-lottie-icon" data-lottie="banner"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section1 container">
      <div class="section1-item wow text-down" style="animation-delay: 0.2s;">
        <div class="section1-img">
          <img src="/uploads/icon1.svg" alt="section1-1" />
          <div class="main-bg-box">
            <div class="home-lottie-icon" data-lottie="design"></div>
          </div>
        </div>
        <h4 data-text="k4"><%= k4 %></h4>
        <div class="tags">
          <span data-text="k5"><%= k5 %></span>
          <span data-text="k6"><%= k6 %></span>
        </div>
      </div>
      <div class="section1-item  wow text-down" style="animation-delay: 0.4s;">
        <div class="section1-img">
          <img src="/uploads/icon2.svg" alt="section1-1" />
          <div class="main-bg-box">
            <div class="home-lottie-icon" data-lottie="web"></div>
          </div>
        </div>
        <h4 data-text="k7"><%= k7 %></h4>
        <div class="tags">
          <span data-text="k8"><%= k8 %></span>
          <span data-text="k9"><%= k9 %></span>
        </div>
      </div>
      <div class="section1-item wow text-down" style="animation-delay: 0.6s;">
        <div class="section1-img">
          <img src="/uploads/icon3.svg" alt="section1-1" />
          <div class="main-bg-box">
            <div class="home-lottie-icon" data-lottie="app"></div>
          </div>
        </div>
        <h4 data-text="k10"><%= k10 %></h4>
        <div class="tags">
          <span data-text="k11"><%= k11 %></span>
          <span data-text="k12"><%= k12 %></span>
        </div>
      </div>
    </div>

    <div class=" section section2 container wow text-down">
      <div class="content">
        <div class="section2-text">
          <p class="ours" data-text="k13"><%= k13 %></p>
          <h2><span data-text="k14"><%= k14 %></span><br />
            <span data-text="k15"><%= k15 %></span><br />
            <span data-text="k16"><%= k16 %></span></h2>

          <a href="/contact" class="btn-click research-dircetion magnetic">
            <div class="btn-fill"></div>
            <span class="btn-text">
              <span class="btn-text-inner change3">研究方向</span>
            </span>
          </a>
        </div>


        <div class="section section2-img">
          <!-- <img src="/uploads/icon4.svg" alt="section1-1" /> -->
          <div class="main-bg-box">
            <div class="home-lottie-icon" data-lottie="woman"></div>
          </div>
        </div>
      </div>
    </div>
    <section class="section section3 container wow text-down">
      <div class="l"><span data-text="k17"><%= k17 %></span><br> <span data-text="k18"><%= k18 %></span></div>
      <div class="btn btn-round circle">
        <a class="btn-click magnetic " data-strength="100" data-strength-text="50">
          <div class="btn-fill"></div>
          <span class="btn-text">
            <span class="btn-text-inner change3">
              <div class="st">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                  <circle cx="7" cy="7" r="7" fill="#ff0000"></circle>
                </svg>
                <p>cases</p>
              </div>
              <div class="st">专案作品</div>
            </span>
          </span>
        </a>
      </div>
      <div class="r">
        <span data-text="k101">We Can</span> <br> <span data-text="k102">Do For You</span>
      </div>
    </section>

    <section class="section section4 case">
      <div class="cases container">
        <% for(var i=0;i<caselist.length;i++){%>

        <a href="/<%= user.username %>/case-detail/<%=caselist[i].enTitle%>"
          class="wow text-down hover-rotate-container">
          <div class="pic company-card w-inline-block hover-rotate-inner">
            <img src="<%=caselist[i].case_image%>" alt="<%=caselist[i].case_name%>">
          </div>
          <div class="text">
            <p class="p1"><%=caselist[i].case_name%></p>
            <div class="des">
              <%=caselist[i].case_desc%>
            </div>
            <div class="tag">
              <p><%=caselist[i].classfiy_id1.classfiy_name%></p>
              <p><%=caselist[i].classfiy_id2.classfiy_name%></p>
            </div>
          </div>
        </a>
        <% } %>
      </div>

      <div class="more wow text-down ">
        <a href="/cases.html?id=13" class="btn-click magnetic case-more">
          <div class="btn-fill" style="background-color: #000;"></div>
          <span class="btn-text">
            <span class="btn-text-inner change">了解更多</span>
          </span>
        </a>
      </div>


    </section>


    <div class="section is-manifesto black_section">
      <div class="container is-manifesto">
        <div class="manifesto_text-wrap">
          <div class="st ours">
            <p data-text="k19"><%= k19 %></p>
          </div>
          <h3 class="is--white manifesto_heading split-lines pc">
            <p class="manifesto_heading_title"><span data-text="k21"><%= k21 %></span><span style="font-weight: 200;"
                data-text="k20"><%= k20 %></span></p>
            <p data-text="k22"><%= k22 %></p>
            <p data-text="k23"><%= k23 %></p>
            <p data-text="k24"><%= k24 %></p>

            <p data-text="k25"><%= k25 %></p>

            <p data-text="k26" class="en frist-en"><%= k26 %></p>
            <p data-text="k27" class="en"><%= k27 %></p>
            <p data-text="k28" class="en"><%= k28 %>
            </p>
            <p data-text="k29" class="en"><%= k29 %></p>
          </h3>

          <h3 class="is--white manifesto_heading split-lines mobile">
            <p class="manifesto_heading_title"><span data-text="k21"><%= k21 %></span><span style="font-weight: 200;"
                data-text="k20"><%= k20 %></span></p>
            <p data-text="k31">红设视觉，是一个独特性的设计工作室</p>
            <p data-text="k30">围绕“美学”核心理念，</p>
            <p data-text="k32">帮助企业全面策划并分析品牌展示方向</p>
            <p data-text="k33">探索营销策略、美学视觉、</p>
            <p data-text="k34">传达品牌美学视觉生态营销模式，</p>

            <p data-text="k35">塑造企业非凡的企业网站形象。</p>

            <p data-text="k36" class="en frist-en">Redesign is a unique design studio that revolves around</p>
            <p data-text="k37" class="en"> the core concept of "aesthetics" to helpbu sinesses</p>
            <p data-text="k38" class="en">comprehensively plan and analyze their brand p</p>
            <p data-text="k39" class="en">
              resentation direction. We explore marketingstrategies,
            </p>
            <p data-text="k40" class="en">aesthetic visuals, and convey brand aesthetic
            </p>
            <p data-text="k41" class="en">
              visual ecological marketing models to shapeextraordinary
            </p>
            <p data-text="k42" class="en">corporate website images for businesses.</p>
          </h3>
        </div>

        <div class="manifesto_description-wrap wow text-down">
          <!-- <img src="/uploads/index-about.svg" alt=""> -->
          <div class="main-bg-box">
            <div class="home-lottie-icon" data-lottie="abs"></div>
          </div>
        </div>
      </div>
    </div>

    <section class="section5">
      <!-- <div class="title">
        <p class="p1">pithy mfweb</p>
        <p class="p2">大道至简，简中求极，是谓“极简”</p>
      </div> -->
      <div class="allItems">
        <div class="item wow text-down active" style="animation-delay: 0.4s;">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121 125" fill="none">
              <mask id="path-1-inside-1_818_2202" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M112 113.001H12V13C12 13 12.0001 13 12.0001 13C67.2286 13 112 57.7715 112 113C112 113 112 113.001 112 113.001Z" />
              </mask>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M112 113.001H12V13C12 13 12.0001 13 12.0001 13C67.2286 13 112 57.7715 112 113C112 113 112 113.001 112 113.001Z"
                fill="white" fill-opacity="0.35" />
              <path
                d="M112 113.001V114.001H113V113.001H112ZM12 113.001H11V114.001H12V113.001ZM12 13V12H11V13H12ZM112 112.001H12V114.001H112V112.001ZM13 113.001V13H11V113.001H13ZM12 14C12 14 12 14 12 14C12.0001 14 12.0001 14 12.0001 14V12C12.0001 12 12.0001 12 12 12C12 12 12 12 12 12V14ZM12.0001 14C66.6763 14 111 58.3238 111 113H113C113 57.2192 67.7808 12 12.0001 12V14ZM111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001H113C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113H111Z"
                fill="black" mask="url(#path-1-inside-1_818_2202)" />
              <path d="M13 12.5L108.5 112" stroke="black" stroke-dasharray="13 13" />
              <circle cx="12.5" cy="112.5" r="12" fill="white" stroke="black" />
              <circle cx="12.5" cy="12.5" r="12" fill="white" stroke="black" />
              <circle cx="108.5" cy="112.5" r="12" fill="white" stroke="black" />
            </svg>
          </div>
          <div class="dt" data-text="k43"><%= k43 %></div>

          <div class="dt2"><span data-text="k44"><%= k44 %></span><i data-text="k46"><%= k46 %></i><span
              data-text="k45"><%= k45 %></span>
          </div>
          <div class="des">
            <p><span style="white-space-collapse: preserve;" data-text="k47"><%= k47 %></span>
            </p>
            <div>&nbsp;</div>
          </div>
        </div>
        <div class="item wow text-down" style="animation-delay: 0.6s;">
          <div class="icon">
            <svg viewBox="0 0 134 150" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.4629 116.369L66.4297 19.1065L109.396 116.369H23.4629Z" fill="white" fill-opacity="0.35"
                stroke="black" />
              <path
                d="M112.213 106.5L117.842 85.5L118.325 85.6295L120.656 76.9311L122.988 85.6295L123.471 85.5L129.1 106.5L128.617 106.629L131.263 116.5H126.285V117H115.027V116.5H110.05L112.695 106.629L112.213 106.5Z"
                fill="white" fill-opacity="0.35" stroke="black" stroke-dasharray="20 20" />
              <path
                d="M4.55625 106.5L10.1854 85.5L10.6684 85.6295L13 76.9311L15.3316 85.6295L15.8146 85.5L21.4437 106.5L20.9608 106.629L23.6067 116.5H18.6292V117H7.37084V116.5H2.39335L5.0392 106.629L4.55625 106.5Z"
                fill="white" fill-opacity="0.35" stroke="black" stroke-dasharray="20 20" />
              <circle cx="66.5" cy="12.5" r="12" fill="white" stroke="black" />
            </svg>
          </div>
          <div class="dt" data-text="k48"><%= k48 %></div>

          <div class="dt2"><span data-text="k49"><%= k49 %></span><span data-text="k50"><%= k50 %></span><span
              data-text="k51"><%= k51 %></span></div>
          <div class="des">
            <p><span style="white-space-collapse: preserve;" data-text="k52"><%= k52 %></span>
            </p>
            <p style="text-align: justify;">&nbsp;</p>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include('components/footer'); -%>
  </div>


  <script src="js/split-type.js" defer></script>
  <!-- <script src="/js/anime.min.js" defer></script> -->
  <script src="/js/index.js" defer></script>

</body>

</html>