<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('components/meta', { head: meta.service }); %>
  <link rel="stylesheet" href="/css/service.css" />
  <!-- <link rel="stylesheet" href="css/service.media.css" /> -->
</head>

<body>
  <%- include('components/header'); -%>
  <main>
    <div class="services_main">
      <div class="site_page">
        <div class=" AboutRedesign">
          <div class="page-container">

            <div class="left_text wow text-down" style="animation-delay: 2.4s;">
              <h2>
                <p class="left_text_first" data-text="s1"><%= s1 %></p><br />
                <i data-text="s2"><%= s2 %></i>
              </h2>
              <span data-text="s3">
                <%= s3 %>
              </span>
            </div>
            <div class=" AboutRedesignBx wow text-down" style="animation-delay: 2.6s;">
              <div class="AboutRedesignBx-preserve">
                <div class="AboutRedesignBx-item first">
                  <div class="AboutRedesignBx-card">
                    <img class="AboutRedesignBx-img" src="/uploads/service/img3.png" alt="">
                  </div>
                </div>
                <div class="AboutRedesignBx-item center">
                  <div class="AboutRedesignBx-card">
                    <img class="AboutRedesignBx-img" src="/uploads/service/img2.png" alt="">
                  </div>

                </div>
                <div class="AboutRedesignBx-item card">
                  <div class="AboutRedesignBx-card">
                    <img class="AboutRedesignBx-img" src="/uploads/service/card.png" alt="">
                  </div>
                  <div class="CardText-text item-2" style="opacity: 0;">
                    <span class="CardText-num"></span>
                    <span class="CardText-title">极简输出</span>
                  </div>
                </div>
                <div class="AboutRedesignBx-item last">
                  <div class="AboutRedesignBx-card">
                    <img class="AboutRedesignBx-img" src="/uploads/service/img1.png" alt="">
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="hover_line hover_line_1 wow text-down">
        <div class="left_text">
          <div class="left_text_block">
            <h3 data-text="s4"><%= s4 %></h3>
            <span data-text="s5"><%= s5 %></span>
            <div class="button">
              <span data-text="s6"><%= s6 %></span>
              <span data-text="s7"><%= s7 %></span>
            </div>
          </div>
          <div class="left_text_block">
            <h4 data-text="s8"><%= s8 %></h4>
            <span>
              <i data-text="s9"><%= s9 %></i><br />
              <i data-text="s10"><%= s10 %></i></span>
          </div>
        </div>
        <div class="hover_img">
          <img width="100%" data-text="s21" src="<%= s21 %>" alt="<%= s4 %>" />
        </div>
      </div>
      <div class="hover_line hover_line_2 wow text-down">
        <div class="left_text">
          <div class="left_text_block">
            <h3 data-text="s11"><%= s11 %></h3>
            <span data-text="s12"><%= s12 %></span>
            <div class="button">
              <span data-text="s13"><%= s13 %></span>
              <span data-text="s14"><%= s14 %></span>
              <span data-text="s15"><%= s15 %></span>
            </div>
          </div>
          <div class="left_text_block">
            <h4 data-text="s16"><%= s16 %></h4>
            <span>
              <i data-text="s17"> <%= s17 %></i><br />
              <i data-text="s18"><%= s18 %></i><br />
              <i data-text="s19"><%= s19 %></i><br />
            </span>
          </div>
        </div>
        <div class="hover_img">
          <img data-text="s20" width="100%" src="<%= s20 %>" alt="<%= s11 %>" />
        </div>
      </div>
    </div>
  </main>

  <%- include('components/footer'); -%>

  <script src="/js/service.js" defer></script>

  <script>
    if (document.documentElement.clientWidth < 1024) {
      setTimeout(function () {
        $('.CardText-text').addClass('on')
      }, 10)
      window.addEventListener('scroll', function () {
        var scrollTop = document.documentElement.scrollTop
        if (scrollTop > 0) {
          $('.CardText-text').removeClass('on')
        } else {
          $('.CardText-text').addClass('on')
        }
      })
    }
  </script>
</body>

</html>